body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.main-image {
    max-width: 100%;
    height: auto;
    border: 2px solid #ff6384;
}
